@font-face {
  font-family: 'TheWitcher';
  src: url('assets/Fonts/Thewitcher-jnOj.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  /* border: 1px solid white; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-left: 120px; 
  align-self: flex-start;
}
.logo{
  width: 654px;
  height: 245px;
}

.subtitle {
  font-family: 'TheWitcher', Arial, sans-serif;
  font-size: 2.5rem;
  margin: 10px 0 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #444;
}

.loading-popup {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 120px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-popup .popup-content {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid transparent;
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
