@font-face {
    font-family: 'TheWitcher';
    src: url('../assets/Fonts/Thewitcher-jnOj.ttf') format('truetype');
}
@font-face {
    font-family: 'Caudex';
    src: url('../assets/Fonts/Caudex/Caudex-Regular.ttf') format('truetype');
}

body, html {
    font-family: Arial, sans-serif;
    background: url('../assets/Edit_Profile/Background.svg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 9999;
    pointer-events: none;
}

.header-content {
    color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    top: 40px;
}

.welcome p{
    line-height: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    height: 100px;
    margin: 0 0 0 40px;
}
.profile.vizima {
    background-color: #1A3C2A;
}
.profile.velen {
    background-color: #8B2E2E; 
}
.profile.novigrad {
    background-color: #2E3A55; 
}
.profile.skellige {
    background-color: #1D1D1D;
}
.profile.kaer-morhen {
    background-color: #4B3A2F; 
}
.profile.vizima:hover {
    background-color: #4A593D;
}
.profile.velen:hover {
    background-color: #C96D6D; 
}
.profile.novigrad:hover {
    background-color: #5A6D87; 
}
.profile.skellige:hover {
    background-color: #A8A8A8;
}
.profile.kaer-morhen:hover {
    background-color: #A58E7F; 
}
.profile {
    font-size: 14px;
    margin: 0 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: #fff;
    padding: 8px 25px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

.profile:hover{
    background-color: #4A593D;
}

.profile .region{
    width: 30px;
    margin-right: 20px;
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container {
    width: 100vh;
    height: 50vh;
    margin: 50px auto;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 60px;
    border: 1px solid rgba(255, 255, 255, 0.371);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.header .nav{
    margin: 0;
    font-size: 20px;
    font-family: 'TheWitcher';
}
.header .nav:hover{
    cursor: pointer;
    color: #FFC857;
}
a{
    text-decoration: none;
    color: white;
}
hr{
    margin: 20px 0;
}
.scroll::-webkit-scrollbar {
    width: 8px;
    position: absolute;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    border: 2px solid transparent; 
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.scroll::-webkit-scrollbar-thumb:active {
    background-color: #333;
}

.scroll{
    max-height: 340px;
    overflow-y: auto;
    transition: overflow-y 0.3s ease;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, tr, td{
    border: 1px solid #fff;
    text-align: center;
    font-family: 'Caudex', Arial, sans-serif;
}
th, td{
    padding: 20px 0;
}
th.small-col, td.small-col {
    width: 5%; 
}

th, td:not(.small-col) {
    width: 19%;
}

.btn{
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}